<li class="nav-item" role="presentation">
  <a class="nav-link nav-used" type="button" data-tab="<%=tabName%>">
    <%-include('../LucideIcons/Icons', {
      name:icon, 
      class:"align-text-bottom lucide"
    })%>
    <%=modulo%>
  </a>
</li>