<div class="btn-group me-2" role="group" aria-label="Second group"></div>
    <button type="button" class="btn btn-secondary py-1 px-2">
        <%-include('../LucideIcons/Icons', {
            name:"image-plus", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%>        
    </button>
    <button type="button" class="btn btn-secondary py-1 px-2">
        <%-include('../LucideIcons/Icons', {
            name:"file-clock", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
    <button type="button" class="btn btn-secondary py-1 px-2">
        <%-include('../LucideIcons/Icons', {
            name:"binoculars", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
    <button type="button" class="btn btn-secondary py-1 px-2">
        <%-include('../LucideIcons/Icons', {
            name:"grid-2x2-check", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
</div>