<div class="btn-group me-2" role="group" aria-label="Second group" style="white-space: nowrap;"></div>
    <button 
        type="button" 
        class="btn btn-secondary btn-sm py-1 px-2"
        data-bs-toggle="tooltip" 
        data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Aceitar Tarefa"
    >
        <%-include('../LucideIcons/Icons', {
            name:"grid-2x2-check", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%>        
    </button>
    <button 
        type="button" 
        class="btn btn-secondary btn-sm py-1 px-2"
        data-bs-toggle="tooltip" 
        data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Classificar Tarefa"
        disabled
    >
        <%-include('../LucideIcons/Icons', {
            name:"star", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
    <button 
        type="button" 
        class="btn btn-secondary btn-sm py-1 px-2"
        data-bs-toggle="tooltip" 
        data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Reabrir Tarefa"
        disabled
    >
        <%-include('../LucideIcons/Icons', {
            name:"package-open", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
    <button 
        type="button" 
        class="btn btn-secondary btn-sm py-1 px-2"
        data-bs-toggle="tooltip" 
        data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Encerrar Tarefa"
        disabled
    >
        <%-include('../LucideIcons/Icons', {
            name:"bookmark-check", 
            class:"align-text-bottom lucide position-absolute top-50 start-50 translate-middle"
          })%> 
    </button>
</div>