<nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-atendimentos-tab" data-bs-toggle="tab" data-bs-target="#nav-atendimentos" type="button" role="tab" aria-controls="nav-atendimentos" aria-selected="true">Atendimentos</button>
      <button class="nav-link" id="nav-jobs-tab" data-bs-toggle="tab" data-bs-target="#nav-jobs" type="button" role="tab" aria-controls="nav-jobs" aria-selected="false">Em execução</button>
    </div>
</nav>