<!-- Modal -->
<div class="modal fade" id="cargosModal" tabindex="-1" aria-labelledby="cargosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cargosModalLabel">Cadastro de Cargos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%-include('../Forms/Funcionarios')%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Cadastrar</button>
        </div>
      </div>
    </div>
</div>