<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-atendimentos" role="tabpanel" aria-labelledby="nav-atendimentos-tab" tabindex="0">
        <div class="container ms-0"> 
            <%- include('../Buttons/Atendimento') %>
            <%- include('../Tables/Atendimento') %>
            <%- include('../Modals/Atendimento') %>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-jobs" role="tabpanel" aria-labelledby="nav-jobs-tab" tabindex="0">
        <div class="container ms-0">           
            <%- include('../Tables/Execucao') %>            
        </div>
    </div>
</div>