<div class="container mt-3">
    <h3>Cadastro de Funcionários</h3>
    <%-include('../Buttons/Funcionarios')%>
    <%-include('../Tables/Funcionarios')%>
    <%-include('../Modals/Funcionarios')%>    
</div>