<form class="row g-3">
    <div class="col-sm-12">
        <label for="formFile" class="form-label">Nome da Tarefa</label>
        <input class="form-control" type="text" id="formFile">
    </div>
    <div class="col-sm-3">
        <label for="formFile" class="form-label">Categoria</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha o núcleo</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-3">
        <label for="formFile" class="form-label">Tipo</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-3">
        <label for="formFile" class="form-label">Cliente</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-3">
        <label for="formFile" class="form-label">Prioridade</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Prazo</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Tempo</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Data</label>
        <input class="form-control" type="date" id="formFile">
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Criativo 1</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Criativo 2</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label for="formFile" class="form-label">Criativo 3</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Escolha a função</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-12">
        <label for="formFile" class="form-label">Observação</label>
        <textarea class="form-control" type="text"></textarea>
    </div>
</form>