<table id="atendimentoTable" class="display table table-striped border" style="width:100%">
    <thead>
        <tr>
            <th>Data e hora</th>
            <th>Tarefa</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Cliente</th>
            <th>Prazo</th>
            <th>Tempo</th>
            <th>Prioridade</th>
            <th>Criativo 1</th>
            <th>Criativo 2</th>
            <th>Criativo 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Alteração Outubro Rosa</td>
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td>Cerradinho Energia</td>
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><span class="badge text-bg-info">Baixa</span></td>
            <td>Manoel - Laene</td>
            <td>Cadu - Laene</td>
            <td>Manoel - Laene</td>
        </tr>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Alteração Outubro Rosa</td>
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td>Cerradinho Energia</td>
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><span class="badge text-bg-warning">Média</span></td>
            <td>Manoel - Laene</td>
            <td>Cadu - Laene</td>
            <td>Manoel - Laene</td>
        </tr>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Alteração Outubro Rosa</td>
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td>Cerradinho Energia</td>
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><span class="badge text-bg-danger">Alta</span></td>
            <td>Manoel - Laene</td>
            <td>Cadu - Laene</td>
            <td>Manoel - Laene</td>
        </tr>
        
        <!-- <tr>
            <td>Maria</td>
            <td>Núcleo B</td>
            <td>Criativo</td>
            <td><span class="badge text-bg-success">Ativo</span></td>
            <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
        </tr>
        <tr>
            <td>Joana</td>
            <td>Núcleo C</td>
            <td>Coorporativo</td>
            <td><span class="badge text-bg-success">Ativo</span></td>
            <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
        </tr>
        <tr>
            <td>Craúdio</td>
            <td>Núcleo C</td>
            <td>Inbound</td>
            <td><span class="badge text-bg-danger">Desativado</span></td>
            <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
        </tr> -->
    </tbody>
    <tfoot>
        <tr>
            <th>Data e hora</th>
            <th>Tarefa</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Cliente</th>
            <th>Prazo</th>
            <th>Tempo</th>
            <th>Status</th>
            <th>Criativo 1</th>
            <th>Criativo 2</th>
            <th>Criativo 3</th>
        </tr>
    </tfoot>
</table>