<table id="funcTable" class="table display table-striped border" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Núcleo</th>
                <th>Função</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zé</td>
                <td>Núcleo A</td>
                <td>Atendente</td>
                <td><span class="badge text-bg-success">Ativo</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
            <tr>
                <td>Maria</td>
                <td>Núcleo B</td>
                <td>Criativo</td>
                <td><span class="badge text-bg-success">Ativo</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
            <tr>
                <td>Joana</td>
                <td>Núcleo C</td>
                <td>Coorporativo</td>
                <td><span class="badge text-bg-success">Ativo</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
            <tr>
                <td>Craúdio</td>
                <td>Núcleo C</td>
                <td>Inbound</td>
                <td><span class="badge text-bg-danger">Desativado</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Núcleo</th>
                <th>Função</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </tfoot>
</table>