<table id="jobTable" class="display table table-striped border" style="width:100%">
    <thead>
        <tr>
            <th>Data e hora</th>
            <th>Atendente</th>
            <th>Cliente</th>                        
            <th>Job</th>
            <th>Categoria</th>
            <th>Tipo</th>            
            <th>Status</th>            
            <th>Prazo</th>
            <th>Tempo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Atendente 1</td>
            <td>Cerradinho Energia</td>
            <td>Alteração Outubro Rosa</td> 
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td><span class="badge text-bg-success">Feito</span></td> 
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
        </tr>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Atendente 1</td>
            <td>Cerradinho Energia</td>
            <td>Alteração Outubro Rosa</td> 
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td><span class="badge text-bg-primary">Atribuído</span></td> 
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
        </tr>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Atendente 1</td>
            <td>Cerradinho Energia</td>
            <td>Alteração Outubro Rosa</td> 
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td><span class="badge text-bg-danger">Atrasado</span></td> 
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
        </tr>
        <tr>
            <td>30/05/2025 10:30</td>
            <td>Atendente 1</td>
            <td>Cerradinho Energia</td>
            <td>Alteração Outubro Rosa</td> 
            <td>Criação</td>
            <td>Identidade Visual</td>
            <td><span class="badge text-bg-info">Em andamento</span></td> 
            <td>Até 12:00</td>
            <td>1:00</td>
            <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
            <th>Data e hora</th>
            <th>Atendente</th>
            <th>Cliente</th>                        
            <th>Job</th>
            <th>Categoria</th>
            <th>Tipo</th>            
            <th>Status</th>            
            <th>Prazo</th>
            <th>Tempo</th>
            <th>Ações</th>
        </tr>
    </tfoot>
</table>